.menu__container {
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;
}

@media (min-width: 834px) {
    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }
}

@media(min-width: 1440px) {
    .menu__container {
        width: 239px;
        overflow: scroll;
    }
}